.wide {
  width: 100%;
}
.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}
.header__container {
  width: 100%;
  height: 11.4rem;
  display: flex;
  align-items: center;
  gap: 0 23.6rem;
}
.header__controls {
  display: flex;
  align-items: center;
  gap: 0 10rem;
}
.header__menu {
  display: flex;
  gap: 0 3.2rem;
}
.header__item__link {
  font-size: 1.6rem;
}
.header__item__link:hover {
  color: var(--color-primary);
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__auth {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 1.4rem 5rem;
  display: inline;
  cursor: pointer;
}
.btn-block {
  cursor: pointer;
  padding: 1.4rem 2.8rem;
}
.header__login {
  font-size: 1.6rem;
  font-weight: var(--fw-title);
  color: var(--color-primary);
}
.header__register {
  font-size: 1.6rem;
  font-weight: var(--fw-title);
  color: #ffffff;
  background: #fa7436;
  border-radius: 5px;
}

/* Hero */
.hero {
  overflow: hidden;
  padding-bottom: 12rem;
  width: 100%;
  background: #fefcfb;
}
.hero__main {
  display: flex;
  align-items: flex-end;
}
.hero__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero__heading {
  font-size: 6.4rem;
  line-height: 7rem;
  width: 521px;
  font-family: var(--font-heading);
}
.highlight {
  color: var(--color-primary);
}
.hero__description {
  font-size: 2rem;
  color: var(--color-text-secondary);
  margin-top: 3.2rem;
  line-height: 4rem;
}
.hero__discover {
  font-size: 1.8rem;
  line-height: 2;
  font-weight: var(--fw-content);
  color: var(--color-primary);
  margin-top: 6.4rem;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}
.hero__image {
  width: 50%;
  margin-left: 2rem;
}
.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__footer {
  width: 841px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 5.6rem;
  background: #ffffff;
  box-shadow: 0px 2px 80px 2px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 32px 24px;
}
.hero__options {
  display: flex;
}
.hero__item {
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
}
.hero__title {
  font-size: 1.6rem;
  font-weight: var(--fw-content);
}
.hero__title i {
  color: var(--color-primary);
}
.hero__item .hero__description {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: var(--fw-text);
  color: var(--color-text-secondary);
}
.hero__control {
  font-size: 1.8rem;
  line-height: 2;
  font-weight: var(--fw-content);
  background: var(--color-primary);
  color: #ffffff;
  border-radius: 5px;
}
/* Todo */
.todo {
  width: 100%;
  padding: 12rem 0;
  position: relative;
  background: #f7f8fc;
}
.todo__img-bg {
  position: absolute;
  right: 10%;
  top: 22%;
}
.todo__content {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.todo__heading {
  font-family: var(--font-heading);
  font-weight: var(--fw-content);
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
}
.todo__description {
  font-size: 1.8rem;
  line-height: 2;
  font-weight: var(--fw-text);
  color: var(--color-text-secondary);
}
.todo__list {
  width: 100%;
  margin-top: 6.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 30px;
}
.todo__item {
  background: #ffffff;
  border: 2px solid rgba(102, 102, 102, 0.08);
  border-radius: 10px;
  transition: all 0.3s;
}
.todo__item:hover {
  box-shadow: 0px 2px 80px 2px rgba(0, 0, 0, 0.06);
}
.card {
  padding: 4rem;
}
.card__title {
  margin-top: 4.8rem;
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: var(--fw-title);
}
.card__text {
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: var(--fw-text);
  color: var(--color-text-secondary);
}
/* Place */
.place {
  padding: 12rem 0;
  background: #fefcfb;
}
.place__content {
  margin: 0 auto;
  width: 57%;
  text-align: center;
}
.place__heading {
  font-family: var(--font-heading);
  font-weight: var(--fw-content);
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
}
.place__description {
  font-size: 1.8rem;
  line-height: 2;
  font-weight: var(--fw-text);
  color: var(--color-text-secondary);
}
.place__slider {
  margin-top: 6.4rem;
}
.place-list {
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 0 3rem;
}
.place-item {
  min-width: 23%;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid rgba(102, 102, 102, 0.08);
  transition: all 0.4s;
}
.place-item:hover {
  background: #fefcfb;
  border: 2px solid #fefcfb;
  box-shadow: 0px 16px 80px rgba(254, 147, 94, 0.2);
}
.place-item:hover .place-item__overlay {
  opacity: 1;
  top: 0;
}
.place-item__img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 27rem;
}
.place-item__img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.place-item__overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -270px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.place-btn {
  margin-top: 150px;
  font-size: 1.8rem;
  font-weight: var(--fw-content);
  background: var(--color-primary);
  color: #ffffff;
  border-radius: 10px;
  line-height: 1.5;
  padding: 0.9rem 2.1rem;
  transition: all 0.4s;
}
.place-btn:hover {
  background-color: rgb(253, 98, 27);
}
.place-item__content {
  padding: 3.2rem 1.6rem;
}
.place-item__upper {
  margin-bottom: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.place-item__city {
  font-size: 2.4rem;
  font-weight: var(--fw-content);
}
.place-item__rate i {
  color: rgb(255, 253, 0);
}
.place-item__below {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.place-item__address,
.place-item__price {
  color: var(--color-text-secondary);
}
.place-item__initial {
  text-decoration: line-through;
}
.place-item__deals {
  margin-left: 1.6rem;
  padding: 4px;
  border-radius: 2px;
  color: var(--color-primary);
  background: #ffe7db;
}
.place__controls {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2.4rem;
}

.btn-pre,
.btn-next {
  color: var(--color-text-secondary);
  border: 2px solid rgba(102, 102, 102, 0.08);
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.btn-pre:hover,
.btn-next:hover {
  color: #ffffff;
  background: var(--color-primary);
}
/* Tour */
.tour {
  position: relative;
  background: #fefcfb;
  padding: 12rem 0;
}
.tour__container {
  overflow: hidden;
}
.tour__content {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.tour__heading {
  font-family: var(--font-heading);
  font-weight: var(--fw-content);
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
}
.tour__description {
  font-size: 1.8rem;
  line-height: 2;
  font-weight: var(--fw-text);
  color: var(--color-text-secondary);
}
.tour__controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 3rem;
}
.tour__bg {
  position: absolute;
  right: 25%;
}
.tour__slider {
  margin-top: 2.4rem;
}
.tour-list {
  position: relative;
  display: flex;
  gap: 0 3rem;
}
.tour-item {
  min-width: 31%;
  border: 2px solid rgba(102, 102, 102, 0.08);
  border-radius: 16px;
  background: #ffffff;
  transition: all 0.4s;
}
.tour-item:hover {
  background: #fefcfb;
  border: 2px solid #fefcfb;
  box-shadow: 0px 16px 80px rgba(254, 147, 94, 0.2);
  border-radius: 16px;
}
.tour-item__content {
  padding: 2.4rem;
}
.tour-item__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-item__img {
  width: 100%;
}
.tour-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tour-item__address {
  font-size: 2.4rem;
  font-weight: var(--fw-content);
  color: var(--color-text-primary);
}
.tour-item__quantity {
  font-size: 2.4rem;
  font-weight: var(--fw-title);
  color: var(--color-primary);
}
.tour-item__below {
  margin-top: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-item__date i {
  margin-right: 1.4rem;
  color: var(--color-primary);
}
.tour-item__date {
  font-weight: var(--fw-content);
  color: var(--color-text-secondary);
}
.tour-item__rate {
  color: var(--color-text-secondary);
}
.tour-item__rate i {
  color: rgb(255, 253, 0);
}
/* about */

.about {
  background: #f7f8fc;
  padding-top: 12rem;
}
.about__container {
  display: flex;
  gap: 0 12rem;
  overflow: hidden;
}
.about__content {
  min-width: 44%;
}
.about__heading {
  font-family: var(--font-heading);
  font-size: 4.8rem;
  font-weight: var(--fw-heading);
  line-height: 1.1;
  margin-bottom: 2.4rem;
}
.about__description {
  font-size: 1.8rem;
  line-height: 2;
  font-weight: var(--fw-text);
  color: var(--color-text-secondary);
}
.about__controls {
  margin-top: 3.2rem;
  display: flex;
  gap: 0 3rem;
}
.about-slider {
  min-width: 56%;
}
.about-item {
  position: relative;
  top: -14rem;
  left: 6rem;
  opacity: 0.5;
  border-radius: 1rem;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  padding: 3.4rem 6.8rem 3.4rem 3.4rem;
}
.about-item.active {
  opacity: 1;
  z-index: 2;
  top: 3rem;
  left: 0;
}
.about-item.active .about-item__img,
.about-item.active .about-item__description {
  visibility: visible;
}
.about-item__img {
  position: absolute;
  top: -3rem;
  left: -3rem;
  visibility: hidden;
}
.about-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-item__description {
  font-weight: var(--fw-content);
  color: #444444;
  line-height: 2;
  visibility: hidden;
}
.about-item__name {
  font-size: 1.8rem;
  color: #222222;
  font-weight: var(--fw-title);
  line-height: 2;
  margin-top: 3.4rem;
}
.about-item__location {
  color: var(--color-text-secondary);
}
.blog {
  padding: 12rem 0;
}
.blog__heading {
  font-family: var(--font-heading);
  font-size: 4.8rem;
  font-weight: var(--fw-heading);
  text-align: center;
}
.blog__slider {
  overflow: hidden;
  margin-top: 6.4rem;
}
.blog-list {
  display: flex;
  gap: 0 3rem;
}
.blog-item {
  min-width: 23.075%;
}
.blog-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-item__title {
  display: block;
  margin-top: 2.4rem;
  line-height: 1.4;
  color: #222222;
  font-weight: var(--fw-content);
}
.blog-item__created-date {
  display: block;
  margin-top: 1.6rem;
  color: var(--color-text-secondary);
}
.blog__dots {
  margin-top: 4.5rem;
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
}
.dot__item {
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
  background: #e5e5e5;
}
.dot__item.active {
  background: var(--color-primary);
}
/* Contact */
.contact__container {
  position: relative;
  overflow: hidden;
  padding: 8rem;
  background: var(--color-primary);
  border-radius: 1.6rem;
}
.contact__img-top,
.contact__img-bottom {
  position: absolute;
}
.contact__img-top img,
.contact__img-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact__img-top {
  top: 1rem;
  right: 0;
}
.contact__img-bottom {
  bottom: -1rem;
  left: -6rem;
}
.contact__content {
  width: 70%;
  margin: 0 auto;
}
.contact__heading {
  text-align: center;
  line-height: 1.3;
  color: #ffffff;
  font-size: 4.8rem;
  font-family: var(--font-heading);
  font-weight: var(--fw-heading);
}
.contact__form {
  z-index: 5;
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 1rem;
}
.contact__mail {
  padding: 2.2rem;
  display: flex;
  align-items: center;
  gap: 0 1rem;
  flex: 1;
}
.contact__input,
.contact__label {
  color: #999999;
}
.contact__input {
  width: 100%;
}
.contact__btn {
  margin-right: 0.9rem;
  background: var(--color-primary);
  border-radius: 0.5rem;
  color: #ffffff;
}
/* footer */
.footer {
  padding-top: 12rem;
  background: #f7f8fc;
}
.footer__container {
  display: flex;
  gap: 0 31.7rem;
}
.footer__content {
  width: 30%;
}
.footer__description {
  display: block;
  margin-top: 2.4rem;
  line-height: 2;
  font-weight: var(--fw-content);
  color: var(--color-text-secondary);
}
.footer__socials {
  margin-top: 1.6rem;
  display: flex;
  gap: 0 2.6rem;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.footer__social i {
  color: #444444;
  font-size: 1.7rem;
}
.footer__social.active {
  background: var(--color-primary);
}
.footer__social.active i {
  color: #ffffff;
}
.footer__links {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__name {
  font-size: 1.8rem;
  font-weight: var(--fw-title);
  color: var(--color-text-primary);
  margin-bottom: 3.2rem;
}
.footer__item {
  margin-top: 1.6rem;
}
.footer__item-link {
  font-size: 1.8rem;
  color: var(--color-text-secondary);
}
.line {
  margin: 4rem 0;
  height: 1px;
  background: rgb(153, 153, 153, 0.56);
}
.policy {
  margin-bottom: 4.8rem;
}
.policy__container {
  display: flex;
  justify-content: space-between;
}
.policy__copy-right,
.policy__condition {
  color: var(--color-text-secondary);
  line-height: 1.4rem;
}
.menu__close,
.menu__mobile {
  display: none;
}
.menu__close i,
.menu__mobile i {
  cursor: pointer;
  font-size: 3.2rem;
  transition: all 0.3s;
}
.menu__close i:hover {
  transform: rotate(90deg);
}
.menu__close {
  position: absolute;
  top: 1rem;
  right: 1.8rem;
}
.open {
  display: block !important;
}
/* Responsive */
/* Desktop  1025px — 1200px */
@media (min-width: 1024px) and (max-width: 1239px) {
  .container {
    width: 98.4rem;
  }
  .header__container {
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
    width: 16rem;
  }
  .menu__close,
  .menu__mobile {
    display: block;
  }
  .header__controls {
    position: fixed;
    z-index: 1;
    background: #ccc;
    width: 100%;
    height: 50vh;
    top: 11.4rem;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }
  .header__menu {
    flex-direction: column;
    margin-left: 1rem;
  }
  .header__auth {
    margin-top: 3.2rem;
  }
  .header__item {
    margin: 1.4rem 0;
  }
  .hero__main {
    align-items: flex-start;
  }
  .place-item {
    min-width: 31%;
  }
  .blog-item {
    min-width: 31%;
  }
}
/* Mobile */
@media (min-width: 374px) and (max-width: 811px) {
  .container {
    width: 34.5rem;
  }
  .header__container {
    justify-content: space-between;
    align-items: center;
  }
  .header__logo img {
    width: 200%;
  }
  .menu__close,
  .menu__mobile {
    display: block;
  }
  .header__controls {
    position: fixed;
    z-index: 1;
    background: #ccc;
    width: 100%;
    height: 50vh;
    top: 11.4rem;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }
  .header__menu {
    flex-direction: column;
    margin-left: 1rem;
  }
  .header__auth {
    margin-top: 3.2rem;
  }
  .header__item {
    margin: 1.4rem 0;
  }
  .hero__main {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero__content {
    width: 100%;
  }
  .tour__heading,
  .todo__heading,
  .hero__heading {
    width: 100%;
    font-size: 4.8rem;
    line-height: 1.2;
    margin-bottom: 3rem;
  }
  .hero__image {
    margin-left: unset;
    margin-top: 3rem;
    width: 100%;
  }
  .hero__footer {
    width: 100%;
    flex-direction: column;
    gap: 3rem 0;
  }
  .hero__options {
    flex-direction: column;
    gap: 3rem 0;
  }
  .hero__control {
    width: 100%;
    text-align: center;
  }
  .place__content,
  .tour__content,
  .todo__content,
  .about__content {
    width: 100%;
  }
  .todo__list {
    margin-top: 12.8rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem 0;
  }
  .todo__img-bg {
    top: 24%;
  }
  .place-item {
    min-width: 100%;
  }
  .tour-item {
    min-width: 100%;
  }
  .tour__bg {
    right: 5%;
    top: 18%;
  }
  .about__container {
    flex-direction: column;
  }
  .about__slider {
    margin-top: 3rem;
  }
  .about-item.active {
    left: 4rem;
  }
  .about-item {
    top: -20rem;
    left: 8rem;
  }
  .blog__heading {
    line-height: 1.2;
  }
  .blog-item {
    min-width: 100%;
  }
  .contact__container {
    padding: 12rem 0;
  }
  .contact__img-bottom {
    bottom: -10rem;
    left: -17rem;
  }
  .contact__form {
    flex-direction: column;
  }
  .contact__btn {
    display: block;
    margin: 1rem;
  }
  .footer__container {
    flex-direction: column;
    gap: 3rem 0;
  }
  .footer__links,
  .footer__content {
    width: 100%;
  }
  .footer__links {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem 0;
  }
  .policy__container {
    flex-direction: column;
    gap: 3rem 0;
  }
}
/* laptop 769px — 1024px */
@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    width: 64.4rem;
  }
  .header__container {
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
    width: 16rem;
  }
  .menu__close,
  .menu__mobile {
    display: block;
  }
  .header__controls {
    position: fixed;
    z-index: 1;
    background: #ccc;
    width: 100%;
    height: 30vh;
    top: 11.4rem;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }
  .header__menu {
    flex-direction: column;
    margin-left: 1rem;
  }
  .header__auth {
    margin-top: 3.2rem;
  }
  .header__item {
    margin: 1.4rem 0;
  }
  .hero__footer {
    width: 100%;
    flex-direction: column;
  }
  .hero__control {
    margin-top: 1.6rem;
    text-align: center;
    width: 100%;
  }
  .hero__item {
    margin-right: 8rem;
  }
  .place__content,
  .tour__content,
  .todo__content,
  .about__content {
    width: 100%;
  }
  .todo__list {
    padding-top: 10rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem 0;
  }
  .place-item {
    min-width: 47%;
  }
  .tour-list {
    gap: 0 2rem;
  }
  .tour-item {
    min-width: 40%;
  }
  .about__container {
    flex-direction: column;
  }
  .about__content {
    text-align: center;
  }
}
